<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Le jeu de Joël</title>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>
        <script type="module" src="static/game.js"></script>
        <style type="text/css">
            body {
                background: #222222;
                padding: 0px;
                margin: 0px;
            }
        </style>
    </head>
	<body>
        <div id="thegame"></div>
	</body>
</html>
